/*body::before {
  display: block;
  content: "";
  height: 100px;
} */

/* Flexbox */
@media (min-width: 768px) {
  .flex-container-h {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin: 10px;
  }
  .club-basic-info {
    flex: 1;
  }
  .club-suggestions {
    flex: 2;
  }
  .club-member-list {
    flex: 1;
  }
}
.flex-container-v {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  margin: 10px;
}
.flex-container-h-nmq {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px solid black; */
  margin: 10px;
}
.login-button {
  flex-basis: 50%;
}
#club-title {
  flex: 4;
}
#club-edit-button {
  flex: 1;
}

/* Club user page label */
.club-label {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 25px;
  font-weight: bold;
}
