.clr-float {
  clear: both;
}
.flex-container-h {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 20px;
}
.flex-container-v {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  margin: 20px;
}

/* Styling the text display for the main page. */
p {
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  color: brown;
}

.bannerText {
  font-family: "Times New Roman", Times, serif;
  color: yellow;
  font-size: 50px;
  background-color: MediumSeaGreen;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 50px;
}

h2 {
  font-family: sans-serif;
  color: black;
}

/* Styling the dropdown for the main page: */
li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: mediumseagreen;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: seagreen;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: mediumseagreen;
  /*
  #acb434
  */
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*.dropbtn {
  background-color: #4CAF50;
  color: red;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
*/

/*.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
*/

/*.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
*/

/* Styling the navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: LightSlateGray;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Styling the club list so that it shows in a better way. */

ol.four {
  border-style: dotted;
  border-width: thick;
  border-color: green;
  padding: 25px;
}

/* Styling the search function.*/
input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

nav {
  position: sticky;
}

/* Styling the table for the user list*/
table,
th,
td {
  border: 1px solid black;
}
